@import url("https://fonts.googleapis.com/css?family=Noto+Sans+SC|Roboto&display=swap");

.chinese {
  font-family: 'Noto Sans SC', sans-serif !important;
}

.english {
  font-family: 'Roboto', sans-serif !important;
}

.card {
  height: 350px;
  text-align: center;
}