@import url("https://fonts.googleapis.com/css?family=Noto+Sans+SC|Roboto&display=swap");

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: rgb(75, 75, 75);
}

a: hover {
  color: rgb(75, 75, 75);
}

.deck-container {
  display: flex;
  height: 100px;
  width: 700px;
  margin: 20px auto;
}

.deck-again {
  color: rgb(225, 225, 225);
  background-color: rgb(75, 75, 75);
  width: 45%;
  height: 70%;
  margin: auto;
  text-align: center;
  padding-top: 45px;
  font-size: 24px;
  border: 1px solid rgb(75, 75, 75);
}

.deck-retire {
  color: rgb(75, 75, 75);
  background-color: rgb(225, 225, 225);
  width: 45%;
  height: 70%;
  margin: auto;
  text-align: center;
  padding-top: 45px;
  font-size: 24px;
  border: 1px solid rgb(225, 225, 225);
}

.card-container,
.deck-again,
.deck-retire {
  box-shadow: 0 1px 2px 0 rgba(75, 75, 75, 0.4);
  transition: 0.2s;
  border-radius: 10px;
}

.card-container {
  color: rgb(75, 75, 75);
  background-color: rgb(225, 225, 225);
  margin: auto;
  height: 250px;
  width: 350px;
  padding: 16px;
}

.study-text {
  border: 1px solid black;
  text-align: center;
  font-size: 72px;
  height: 120px;
}

.answer-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4px;
  font-size: 24px;
  width: 350px;
}

.phonetics,
.answer-text {
  border: 1px solid black;
  text-align: center;
  padding: 0 2px;
}

.phonetics {
  flex-grow: 1;
}

.answer-text {
  font-size: 24px;
  margin-top: 4px;
  text-align: left;
  width: 99%;
  height: 90px;
}

.chinese {
  font-family: "Noto Sans SC", sans-serif;
}

.english {
  font-family: "Roboto", sans-serif;
}

.decisions {
  text-align: center;
}

.btn.btn-primary {
  transition: 0.2s;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 10px;
  color: rgb(225, 225, 225);
  background-color: rgb(75, 75, 75);
  box-shadow: 0 1px 2px 0 rgba(75, 75, 75, 0.4);
  margin: 10px;
}

.btn.btn-primary:hover {
  transition: 0.2s;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
}

.btn.btn-primary:active {
  transition: 0.2s;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
}

.btn {
  height: 36px;
  display: inline-block;
  font: 14px/36px "Roboto", sans-serif !important;
  padding: 0 16px;
  min-width: 120px;
  text-align: center;
  cursor: pointer;
}

.snd.btn-primary {
  transition: 0.2s;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 10px;
  color: rgb(225, 225, 225);
  background-color: rgb(75, 75, 75);
  box-shadow: 0 1px 2px 0 rgba(75, 75, 75, 0.4);
}

.snd.btn-primary:hover {
  transition: 0.2s;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
}

.snd.btn-primary:active {
  transition: 0.2s;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
}

.snd {
  cursor: pointer;
}

.how-to {
  text-align: center;
}
